<h1>Search Results</h1>

<% if @projects.any? %>
  <h2>Projects</h2>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.title, project_path(project) %> (Manager: <%= project.manager.name %>, Status: <%= project.status %>)</li>
    <% end %>
  </ul>
<% else %>
  <p>No projects found.</p>
<% end %>

<% if @tasks.any? %>
  <h2>Tasks</h2>
  <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to task.title, project_task_path(task.project, task) %> (Contributor: <%= task.user_as_contributor.name %>, Status: <%= task.status %>)</li>
    <% end %>
  </ul>
<% else %>
  <p>No tasks found.</p>
<% end %>

<% if @users.any? %>
  <h2>Users</h2>
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to user.name, user_path(user) %> (Role: <%= user.role %>, Status: <%= user.status %>)</li>
    <% end %>
  </ul>
<% else %>
  <p>No users found.</p>
<% end %>
