<!-- ======== footer start ======== -->
<footer class="footer bg-primary text-white py-5">
  <div class="container">
    <div class="row gy-4">
      
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="footer-widget">
          <div class="mb-3">
            <%= link_to "Project Manager", root_path, class: "text-light fs-4 text-decoration-none" %>
            </div>
          <p class="desc mb-3">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dinonumy eirmod tempor invidunt.
          </p>
          <ul class="list-inline">
            <li class="list-inline-item me-3">
              <a href="#" class="text-white">
                <%= image_tag "https://img.icons8.com/ios-filled/24/ffffff/facebook-new.png", alt: "Facebook" %>
              </a>
            </li>
            <li class="list-inline-item me-3">
              <a href="#" class="text-white">
                <%= image_tag "https://img.icons8.com/ios-filled/24/ffffff/twitter--v1.png", alt: "Twitter" %>
              </a>
            </li>
            <li class="list-inline-item me-3">
              <a href="#" class="text-white">
                <%= image_tag "https://img.icons8.com/ios-filled/24/ffffff/instagram-new.png", alt: "Instagram" %>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white">
                <%= image_tag "https://img.icons8.com/ios-filled/24/ffffff/linkedin.png", alt: "LinkedIn" %>
              </a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="col-xl-2 col-lg-2 col-md-6">
        <div class="footer-widget">
          <h5>About Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">Home</a></li>
            <li><a href="#" class="text-white text-decoration-none">Feature</a></li>
            <li><a href="#" class="text-white text-decoration-none">About</a></li>
            <li><a href="#" class="text-white text-decoration-none">Testimonials</a></li>
          </ul>
        </div>
      </div>
      
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div class="footer-widget">
          <h5>Features</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">How it works</a></li>
            <li><a href="#" class="text-white text-decoration-none">Privacy policy</a></li>
            <li><a href="#" class="text-white text-decoration-none">Terms of service</a></li>
            <li><a href="#" class="text-white text-decoration-none">Refund policy</a></li>
          </ul>
        </div>
      </div>
      
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div class="footer-widget">
          <h5>Other Products</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">Accounting Software</a></li>
            <li><a href="#" class="text-white text-decoration-none">Billing Software</a></li>
            <li><a href="#" class="text-white text-decoration-none">Booking System</a></li>
            <li><a href="#" class="text-white text-decoration-none">Tracking System</a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</footer>
<!-- ======== footer end ======== -->
