<div class="w-75">
  <%= form_with model: @project, class: "p-4 border rounded bg-light shadow-sm" do |form| %>
    
    <% if @project.errors.any? %>
      <div class="alert alert-danger">
        <h4 class="alert-heading">Please fix the following errors:</h4>
        <ul>
          <% @project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control", placeholder: "Project Title" %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control", rows: 5, placeholder: "Project Description" %>
    </div>

    <div class="justify-content-center text-center align-items-center">
      <%= form.submit "Submit", class: "btn btn-primary m-2" %>
      <%= link_to "Back", :back, class: "btn btn-secondary m-2" %>
    </div>

  <% end %>
</div>