<div class="d-flex justify-content-between align-items-center mb-4">
  <% if current_user.manager? || current_user.contributor? %>
    <h1><u>My Projects</u></h1>
  <% else %>
    <h1><u>All Projects</u></h1>
  <% end %>

  <% unless current_user.contributor? %>
    <div>
      <%= link_to "Add New Project", new_project_path, class: "btn btn-success" %>
    </div>
  <% end %>
</div>

<% if @projects.blank? %>
  <% if current_user.manager? || current_user.admin? %>
    <h3 class="text-center">No Projects to Show!</h3>
  <% else %>
    <h3 class="text-center">You are yet to be assigned to any Task!</h3>
    <% end %>
<% else %>

  <div class="flex-grow-1 m-3">
    <%= form_with url: "/search", method: :get, class: "d-flex", id: "search-form" do %>
      <%= text_field_tag :query, params[:query], class: "form-control me-2 fst-italic fw-lighter", placeholder: "Search Project..." %>
      
      <%= select_tag :status, options_for_select(
          Project.group(:status).order(:status).pluck(:status).compact.uniq.prepend("All Status"),
          params[:status]
        ), class: "form-select-lg me-2" %>

      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if current_user.admin? || current_user.manager? %>

    <table class="table table-hover table-bordered">
      <thead class="table-primary">
        <tr>
          <th scope="col" class="text-center">ID</th>
          <th scope="col" class="text-center">Title</th>
          <th scope="col" class="text-center">Manager</th>
          <th scope="col" class="text-center">Status</th>
          <th scope="col" class="text-center" colspan="2">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <th scope="row" class="text-center"><%= project.id %></th>
            <td  class="text-center"><%= project.title %></td>
            <td class="text-center"><%= project.manager.try(:name) || "N/A" %></td>
            <td class="text-center"><%= project.status.capitalize %></td>
            <td class="text-center"><%= link_to "Show", project_path(project), class: "btn btn-sm btn-info" %></td>
            <td class="text-center"><%= link_to "Edit", edit_project_path(project), class: "btn btn-sm btn-warning" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  
  <% else %>
      <% @projects.each do |project| %>
        <div class="mb-4 bg-light p-3" style="border: 1px solid blue; border-radius: 20px;">
          <h4><u><%= project.title %></u></h4>
          <p>
            <strong>Manager:</strong> <%= project.manager.try(:name) || "N/A" %><br>
            <strong>Status:</strong> <%= project.status.capitalize %>
          </p>

          <div class="d-flex" style="margin-left: 20%;">
          <table class="table table-striped table-hover">
            <colgroup>
              <col style="width: 150px;">
              <col style="width: 100px;">
              <col style="width: 150px;">
              <col style="width: 120px;">
            </colgroup>
            <thead class="table-danger">
              <tr>
                <th>Task Title</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% project.tasks.each do |task| %>
                <tr>
                  <td><%= task.title %></td>
                  <td><%= task.status.capitalize %></td>
                  <td>
                    <%= link_to "Show Task", project_task_path(project, task), class: "btn btn-sm btn-primary" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        </div>
      <% end %>
  <% end %>

<% end %>
<div class="d-flex justify-content-center">
  <%= paginate @projects, theme: 'bootstrap4' %>

</div>
