<!DOCTYPE html>
<html>
  <head>
    <title>Flipkart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <style>
      @media (min-width: 1025px) {
      .h-custom {
      height: 100vh !important;
      }
      }

      .horizontal-timeline .items {
      border-top: 2px solid #ddd;
      }

      .horizontal-timeline .items .items-list {
      position: relative;
      margin-right: 0;
      }

      .horizontal-timeline .items .items-list:before {
      content: "";
      position: absolute;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: #ddd;
      top: 0;
      margin-top: -5px;
      }

      .horizontal-timeline .items .items-list {
      padding-top: 15px;
      }

      #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
      }

      /* Chat Bot CSS starts */
      #chat1 .form-outline .form-control~.form-notch div {
      pointer-events: none;
      border: 1px solid;
      border-color: #eee;
      box-sizing: border-box;
      background: transparent;
      }

      #chat1 .form-outline .form-control~.form-notch .form-notch-leading {
      left: 0;
      top: 0;
      height: 100%;
      border-right: none;
      border-radius: .65rem 0 0 .65rem;
      }

      #chat1 .form-outline .form-control~.form-notch .form-notch-middle {
      flex: 0 0 auto;
      max-width: calc(100% - 1rem);
      height: 100%;
      border-right: none;
      border-left: none;
      }

      #chat1 .form-outline .form-control~.form-notch .form-notch-trailing {
      flex-grow: 1;
      height: 100%;
      border-left: none;
      border-radius: 0 .65rem .65rem 0;
      }

      #chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading {
      border-top: 0.125rem solid #39c0ed;
      border-bottom: 0.125rem solid #39c0ed;
      border-left: 0.125rem solid #39c0ed;
      }

      #chat1 .form-outline .form-control:focus~.form-notch .form-notch-leading,
      #chat1 .form-outline .form-control.active~.form-notch .form-notch-leading {
      border-right: none;
      transition: all 0.2s linear;
      }

      #chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle {
      border-bottom: 0.125rem solid;
      border-color: #39c0ed;
      }

      #chat1 .form-outline .form-control:focus~.form-notch .form-notch-middle,
      #chat1 .form-outline .form-control.active~.form-notch .form-notch-middle {
      border-top: none;
      border-right: none;
      border-left: none;
      transition: all 0.2s linear;
      }

      #chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing {
      border-top: 0.125rem solid #39c0ed;
      border-bottom: 0.125rem solid #39c0ed;
      border-right: 0.125rem solid #39c0ed;
      }

      #chat1 .form-outline .form-control:focus~.form-notch .form-notch-trailing,
      #chat1 .form-outline .form-control.active~.form-notch .form-notch-trailing {
      border-left: none;
      transition: all 0.2s linear;
      }

      #chat1 .form-outline .form-control:focus~.form-label {
      color: #39c0ed;
      }

      #chat1 .form-outline .form-control~.form-label {
      color: #bfbfbf;
      }
      /* Chat Bot CSS ends */

    </style>
  </head>

  <body class="d-flex flex-column min-vh-100" style="background-color: #bde1ff;">
    <%= render 'partials/navbar' %>

    <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 1000;">
      <div id="notice-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
        <div class="toast-header">
          <strong class="me-auto">Notification</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          <%= notice %>
        </div>
      </div>

      <div id="alert-toast" class="toast align-items-center text-white bg-danger border-0 m-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
            <%= alert %>
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>
    
    <main class="container" style="margin-top: 6%; margin-bottom: 50px;">
      <div class="text-center">
        <p class="text-success"><%= notice %></p>
        <p class="text-danger"><%= alert %></p>
      </div>
      <%= yield %>
    </main>

    <%= render 'partials/footer' %>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const noticeToastEl = document.getElementById("notice-toast");
        const alertToastEl = document.getElementById("alert-toast");

        if (noticeToastEl && noticeToastEl.querySelector('.toast-body').innerText.trim() !== '') {
          const noticeToast = new bootstrap.Toast(noticeToastEl);
          noticeToast.show();
        }

        if (alertToastEl && alertToastEl.querySelector('.toast-body').innerText.trim() !== '') {
          const alertToast = new bootstrap.Toast(alertToastEl);
          alertToast.show();
        }
      });

      
    </script>
  </body>
</html>
